<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body style="background-image: url('{% static 'img/yu.jpg'%}');">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"class="save btn btn-default">Save</button>
    </form>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: aqua; text-align: center;">  
    
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>
</body>
</html>
